@font-face {
    font-family: sohne;
    src: url(../fonts/Sohne-Buch.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: sohne;
    src: url(../fonts/Sohne-Kraftig.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
  }

:root {
    font-size: 20px;

    --page-margin: 1rem;
    --page-margin-bottom: 8rem;
    --black: rgb(0, 0, 0);
    --black-30: rgba(0, 0, 0, 0.3);
    --white: rgb(255, 255, 255);
    --white-50: rgba(255, 255, 255, 0.5);
    --purple: rgb(95, 100, 231);
    --green: rgb(72, 182, 142);
    --red: rgb(227, 88, 58);
    --yellow: rgb(229, 177, 42);
    --dark-grey: rgb(59, 53, 55);
    --grey: rgb(118, 101, 105);
    --light-grey: rgb(241, 236, 236);

    --sans-serif: 'sohne', sans-serif;
    --font-size-small: 0.6rem;
    --font-size-medium: 1rem;
    --font-size-large: 2rem;
}

body {
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--sans-serif);
    font-size: var(--font-size-medium);
    font-weight: normal;
    margin: var(--page-margin);
    margin-bottom: var(--page-margin-bottom);
    letter-spacing: -0.02em;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--black);
}

h3 {
    font-size: var(--font-size-medium);
}

h4 {
    font-size: var(--font-size-small);
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: bold;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;        
	/* outline: inherit; */
}

/* GLOBAL: GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 2rem;
    /* row-gap: 2rem; */
}

.span-6 {
    grid-column: span 6;
}

.span-8 {
    grid-column: span 8;
}

.span-all {
    grid-column: 1/-1;
}

/* GLOBAL: NAV */

nav {
    position: fixed;
    bottom: 1rem;
    /* left: 50%;
    transform: translateX(-50%); */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    z-index: 1;
    font-size: 1rem;
    width: 100%;
    /* background-color: red; */
}

nav a {
    color: var(--black-30);
}

#nav--main, #nav--params {
    display: flex;
    align-items: center;
}

nav, #nav--params {
    gap: 0.5rem;
}

#nav--main {
    gap: 1rem;
}

.circle{
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }

.circle:hover{
    cursor: pointer;
  }

.semicircle {
    width: 50%;
    height: 100%;
  }

.first {
    border-radius: 100px 0 0 100px;
}

.second {
    border-radius: 0px 100px 100px 0px;
  }


/* SECTION: ABOUT */

#about {
    letter-spacing: -0.02em;
    line-height: 1.1;
    min-height: 100vh;
    /* padding-top: 3rem; */
}

#about p {
    font-size: var(--font-size-large);
    margin-bottom: 2rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
}

/* SECTION: PROJECTS */
#projects {
    /* background-color: red; */
    padding-bottom: 4rem;    
}

#projects h2 {
    margin-bottom: 1rem;
}

.project--wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project {
    margin-bottom: 2rem;
}

.project--thumbnail {
    width: 100%;
}

/* UTILITY: BADGE */
.badge {
    background-color: var(--white-50);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    padding: 7px 10px 4px 10px;
}

.tags h4 {
    border-radius: 3px;
    padding: 5px 7px 1px 7px;
}

/* UTILITY: COLOR */
.black-30 {
    color: var(--black-30);
}

.inactive {
    color: var(--black-30);
}

.active {
    color: var(--black);
}